snippet main "main function" b 
#include<bits/stdc++.h>
i64 main(i64 argc, char** argv) {

  return 0;
}
endsnippet

snippet fn "function declaration" b
${1:i64} ${2:name} (${3:type} ${4:param}) {
  // TODO
  ${5:body}
}
endsnippet
